.draw-wave-loader {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.draw-wave-loader .wave {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  animation: wave-animation var(--wave-duration, 1.5s) ease-in-out infinite;
}

.draw-wave-loader .wave1 {
  border-top-color: var(--wave-color-1, #5e72e4);
  animation-delay: 0s;
}

.draw-wave-loader .wave2 {
  border-top-color: var(--wave-color-2, #825ee4);
  animation-delay: calc(var(--wave-duration, 1.5s) * -0.33);
}

.draw-wave-loader .wave3 {
  border-top-color: var(--wave-color-3, #5e72e4);
  animation-delay: calc(var(--wave-duration, 1.5s) * -0.66);
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 1;
  }
}
