.gooey-circle-loader {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gooey-circles {
  position: relative;
  width: 100%;
  height: 100%;
  filter: url(#gooey-filter);
}

.gooey-circles .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  margin-left: -10%;
  margin-top: -10%;
  border-radius: 50%;
  background-color: var(--color-1, #5e72e4);
  animation: gooey-rotate var(--duration, 1.5s) infinite ease-in-out;
}

.gooey-circles .circle1 {
  animation-delay: 0s;
  background-color: var(--color-1, #5e72e4);
}

.gooey-circles .circle2 {
  animation-delay: calc(var(--duration, 1.5s) * -0.833);
  background-color: var(--color-2, #825ee4);
}

.gooey-circles .circle3 {
  animation-delay: calc(var(--duration, 1.5s) * -0.666);
  background-color: var(--color-1, #5e72e4);
}

.gooey-circles .circle4 {
  animation-delay: calc(var(--duration, 1.5s) * -0.5);
  background-color: var(--color-2, #825ee4);
}

.gooey-circles .circle5 {
  animation-delay: calc(var(--duration, 1.5s) * -0.333);
  background-color: var(--color-3, #5e72e4);
}

.gooey-circles .circle6 {
  animation-delay: calc(var(--duration, 1.5s) * -0.166);
  background-color: var(--color-1, #5e72e4);
}

@keyframes gooey-rotate {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  16.66% {
    transform: translate(30%, -30%) scale(0.9);
  }
  33.33% {
    transform: translate(40%, 0) scale(0.85);
  }
  50% {
    transform: translate(30%, 30%) scale(0.9);
  }
  66.66% {
    transform: translate(0, 40%) scale(0.85);
  }
  83.33% {
    transform: translate(-30%, 30%) scale(0.9);
  }
}
