.gooey-circle-loader {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gooey-circles {
  position: relative;
  width: 100%;
  height: 100%;
  filter: url(#gooey-effect);
}

.gooey-circle {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -15%;
}

.gooey-circle.circle-1 {
  background-color: var(--color-1, #5e72e4);
  animation: gooey-rotate var(--loader-duration, 1.5s) linear infinite;
  transform-origin: 50% 50%;
}

.gooey-circle.circle-2 {
  background-color: var(--color-2, #825ee4);
  animation: gooey-rotate var(--loader-duration, 1.5s) linear infinite;
  animation-delay: calc(var(--loader-duration, 1.5s) * -0.33);
  transform-origin: 50% 50%;
}

.gooey-circle.circle-3 {
  background-color: var(--color-3, #5e72e4);
  animation: gooey-rotate var(--loader-duration, 1.5s) linear infinite;
  animation-delay: calc(var(--loader-duration, 1.5s) * -0.66);
  transform-origin: 50% 50%;
}

@keyframes gooey-rotate {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(60%, 0) scale(0.8);
  }
  50% {
    transform: translate(60%, 60%) scale(1);
  }
  75% {
    transform: translate(0, 60%) scale(0.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

/* Fallback for browsers that don't support CSS filters */
@supports not (filter: url(#gooey-effect)) {
  .gooey-circles {
    filter: none;
  }

  .gooey-circle {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}
